.row {
	 margin: 0.67em 0;
	 
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row > *:first-child {
	margin-left:0;
}

.col1-1{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-2{
	width:48.6%;
	margin-left:1.4%;
	float:left;
}
.col2-2{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-3{
	width:31.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col2-3{
	width:65.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col3-3{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-4{
	width:23.6%;
	margin-left:1.4%;
	float:left;
}
.col2-4{
	width:48.6%;
	margin-left:1.4%;
	float:left;
}
.col3-4{
	width:73.6%;
	margin-left:1.4%;
	float:left;
}
.col4-4{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-5{
	width:18.6%;
	margin-left:1.4%;
	float:left;
}
.col2-5{
	width:38.6%;
	margin-left:1.4%;
	float:left;
}
.col3-5{
	width:58.6%;
	margin-left:1.4%;
	float:left;
}
.col4-5{
	width:78.6%;
	margin-left:1.4%;
	float:left;
}
.col5-5{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-6{
	width:15.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col2-6{
	width:31.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col3-6{
	width:48.6%;
	margin-left:1.4%;
	float:left;
}
.col4-6{
	width:65.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col5-6{
	width:81.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col6-6{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-7{
	width:12.8857142857%;
	margin-left:1.4%;
	float:left;
}
.col2-7{
	width:27.1714285714%;
	margin-left:1.4%;
	float:left;
}
.col3-7{
	width:41.4571428571%;
	margin-left:1.4%;
	float:left;
}
.col4-7{
	width:55.7428571429%;
	margin-left:1.4%;
	float:left;
}
.col5-7{
	width:70.0285714286%;
	margin-left:1.4%;
	float:left;
}
.col6-7{
	width:84.3142857143%;
	margin-left:1.4%;
	float:left;
}
.col7-7{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-8{
	width:11.1%;
	margin-left:1.4%;
	float:left;
}
.col2-8{
	width:23.6%;
	margin-left:1.4%;
	float:left;
}
.col3-8{
	width:36.1%;
	margin-left:1.4%;
	float:left;
}
.col4-8{
	width:48.6%;
	margin-left:1.4%;
	float:left;
}
.col5-8{
	width:61.1%;
	margin-left:1.4%;
	float:left;
}
.col6-8{
	width:73.6%;
	margin-left:1.4%;
	float:left;
}
.col7-8{
	width:86.1%;
	margin-left:1.4%;
	float:left;
}
.col8-8{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-9{
	width:9.71111111111%;
	margin-left:1.4%;
	float:left;
}
.col2-9{
	width:20.8222222222%;
	margin-left:1.4%;
	float:left;
}
.col3-9{
	width:31.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col4-9{
	width:43.0444444444%;
	margin-left:1.4%;
	float:left;
}
.col5-9{
	width:54.1555555556%;
	margin-left:1.4%;
	float:left;
}
.col6-9{
	width:65.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col7-9{
	width:76.3777777778%;
	margin-left:1.4%;
	float:left;
}
.col8-9{
	width:87.4888888889%;
	margin-left:1.4%;
	float:left;
}
.col9-9{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-10{
	width:8.6%;
	margin-left:1.4%;
	float:left;
}
.col2-10{
	width:18.6%;
	margin-left:1.4%;
	float:left;
}
.col3-10{
	width:28.6%;
	margin-left:1.4%;
	float:left;
}
.col4-10{
	width:38.6%;
	margin-left:1.4%;
	float:left;
}
.col5-10{
	width:48.6%;
	margin-left:1.4%;
	float:left;
}
.col6-10{
	width:58.6%;
	margin-left:1.4%;
	float:left;
}
.col7-10{
	width:68.6%;
	margin-left:1.4%;
	float:left;
}
.col8-10{
	width:78.6%;
	margin-left:1.4%;
	float:left;
}
.col9-10{
	width:88.6%;
	margin-left:1.4%;
	float:left;
}
.col10-10{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-11{
	width:7.69090909091%;
	margin-left:1.4%;
	float:left;
}
.col2-11{
	width:16.7818181818%;
	margin-left:1.4%;
	float:left;
}
.col3-11{
	width:25.8727272727%;
	margin-left:1.4%;
	float:left;
}
.col4-11{
	width:34.9636363636%;
	margin-left:1.4%;
	float:left;
}
.col5-11{
	width:44.0545454545%;
	margin-left:1.4%;
	float:left;
}
.col6-11{
	width:53.1454545455%;
	margin-left:1.4%;
	float:left;
}
.col7-11{
	width:62.2363636364%;
	margin-left:1.4%;
	float:left;
}
.col8-11{
	width:71.3272727273%;
	margin-left:1.4%;
	float:left;
}
.col9-11{
	width:80.4181818182%;
	margin-left:1.4%;
	float:left;
}
.col10-11{
	width:89.5090909091%;
	margin-left:1.4%;
	float:left;
}
.col11-11{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-12{
	width:6.93333333333%;
	margin-left:1.4%;
	float:left;
}
.col2-12{
	width:15.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col3-12{
	width:23.6%;
	margin-left:1.4%;
	float:left;
}
.col4-12{
	width:31.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col5-12{
	width:40.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col6-12{
	width:48.6%;
	margin-left:1.4%;
	float:left;
}
.col7-12{
	width:56.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col8-12{
	width:65.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col9-12{
	width:73.6%;
	margin-left:1.4%;
	float:left;
}
.col10-12{
	width:81.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col11-12{
	width:90.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col12-12{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-13{
	width:6.29230769231%;
	margin-left:1.4%;
	float:left;
}
.col2-13{
	width:13.9846153846%;
	margin-left:1.4%;
	float:left;
}
.col3-13{
	width:21.6769230769%;
	margin-left:1.4%;
	float:left;
}
.col4-13{
	width:29.3692307692%;
	margin-left:1.4%;
	float:left;
}
.col5-13{
	width:37.0615384615%;
	margin-left:1.4%;
	float:left;
}
.col6-13{
	width:44.7538461538%;
	margin-left:1.4%;
	float:left;
}
.col7-13{
	width:52.4461538462%;
	margin-left:1.4%;
	float:left;
}
.col8-13{
	width:60.1384615385%;
	margin-left:1.4%;
	float:left;
}
.col9-13{
	width:67.8307692308%;
	margin-left:1.4%;
	float:left;
}
.col10-13{
	width:75.5230769231%;
	margin-left:1.4%;
	float:left;
}
.col11-13{
	width:83.2153846154%;
	margin-left:1.4%;
	float:left;
}
.col12-13{
	width:90.9076923077%;
	margin-left:1.4%;
	float:left;
}
.col13-13{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-14{
	width:5.74285714286%;
	margin-left:1.4%;
	float:left;
}
.col2-14{
	width:12.8857142857%;
	margin-left:1.4%;
	float:left;
}
.col3-14{
	width:20.0285714286%;
	margin-left:1.4%;
	float:left;
}
.col4-14{
	width:27.1714285714%;
	margin-left:1.4%;
	float:left;
}
.col5-14{
	width:34.3142857143%;
	margin-left:1.4%;
	float:left;
}
.col6-14{
	width:41.4571428571%;
	margin-left:1.4%;
	float:left;
}
.col7-14{
	width:48.6%;
	margin-left:1.4%;
	float:left;
}
.col8-14{
	width:55.7428571429%;
	margin-left:1.4%;
	float:left;
}
.col9-14{
	width:62.8857142857%;
	margin-left:1.4%;
	float:left;
}
.col10-14{
	width:70.0285714286%;
	margin-left:1.4%;
	float:left;
}
.col11-14{
	width:77.1714285714%;
	margin-left:1.4%;
	float:left;
}
.col12-14{
	width:84.3142857143%;
	margin-left:1.4%;
	float:left;
}
.col13-14{
	width:91.4571428571%;
	margin-left:1.4%;
	float:left;
}
.col14-14{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-15{
	width:5.26666666667%;
	margin-left:1.4%;
	float:left;
}
.col2-15{
	width:11.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col3-15{
	width:18.6%;
	margin-left:1.4%;
	float:left;
}
.col4-15{
	width:25.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col5-15{
	width:31.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col6-15{
	width:38.6%;
	margin-left:1.4%;
	float:left;
}
.col7-15{
	width:45.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col8-15{
	width:51.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col9-15{
	width:58.6%;
	margin-left:1.4%;
	float:left;
}
.col10-15{
	width:65.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col11-15{
	width:71.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col12-15{
	width:78.6%;
	margin-left:1.4%;
	float:left;
}
.col13-15{
	width:85.2666666667%;
	margin-left:1.4%;
	float:left;
}
.col14-15{
	width:91.9333333333%;
	margin-left:1.4%;
	float:left;
}
.col15-15{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
.col1-16{
	width:4.85%;
	margin-left:1.4%;
	float:left;
}
.col2-16{
	width:11.1%;
	margin-left:1.4%;
	float:left;
}
.col3-16{
	width:17.35%;
	margin-left:1.4%;
	float:left;
}
.col4-16{
	width:23.6%;
	margin-left:1.4%;
	float:left;
}
.col5-16{
	width:29.85%;
	margin-left:1.4%;
	float:left;
}
.col6-16{
	width:36.1%;
	margin-left:1.4%;
	float:left;
}
.col7-16{
	width:42.35%;
	margin-left:1.4%;
	float:left;
}
.col8-16{
	width:48.6%;
	margin-left:1.4%;
	float:left;
}
.col9-16{
	width:54.85%;
	margin-left:1.4%;
	float:left;
}
.col10-16{
	width:61.1%;
	margin-left:1.4%;
	float:left;
}
.col11-16{
	width:67.35%;
	margin-left:1.4%;
	float:left;
}
.col12-16{
	width:73.6%;
	margin-left:1.4%;
	float:left;
}
.col13-16{
	width:79.85%;
	margin-left:1.4%;
	float:left;
}
.col14-16{
	width:86.1%;
	margin-left:1.4%;
	float:left;
}
.col15-16{
	width:92.35%;
	margin-left:1.4%;
	float:left;
}
.col16-16{
	width:98.6%;
	margin-left:1.4%;
	float:left;
}
